* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.button:not(:disabled){
    cursor: pointer;
    border: none;
}

.container > .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.container > .header > .logo {
    width: 230px;
    height: 60px;
}

.container > .wrapper.-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container > .wrapper.-content > .group {
    display: flex;
    width: 100%;

}

.container > .wrapper.-content > .group > .button.-tab {
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: #969696;
    height: 74px;
}
.container > .wrapper.-content > .group > .button.-tab.-active {
border-bottom: 5px solid #D98326;
color: #323232;
}

/* Add */
.add {
    display: flex;
    margin-top: 40px;
    height: 78px;
    width: 100%;
    max-width: 1040px;
    margin-inline: auto;
    justify-content: center;
}
.add > .input {
    background-color: #F1ECE6;
    padding-block: 15px;
    padding-left: 35px;
    font-size: 32px;
    width: calc(100% - 78px);
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.add > .input::placeholder {
    color: #969696;
}

.add > .button.-append {
    width: 140px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #76B7CD;
    font-size: 38px;
    text-align: center;
    line-height: 58px;
    font-weight: 700;
    color: #F3F3F3;
    transition: all 0.3s ease;
}
.add > .button:not(:disabled):hover,
.add > .button:not(:disabled):focus-visible{
    background-color: #66cccc;
    outline: none;
}

.add > .button.-append:disabled {
    background-color: #cdcdcd;
    cursor:not-allowed;
}

.container.-todo {
    max-width: 1040px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: #F1ECE6;
    padding-left: 45px;
    padding-right: 50px;
    margin: 40px auto auto;
    
}
.container.-todo > .list > .item {
    display: flex;
    align-items: center;
    height: 88px;
    position: relative;
}
.container.-todo > .list > .item::after {
    content: '';
    width: calc(100% - 32px - 64px);
    left: 64px;
    bottom: 0;
    border-top: 1px solid #76B7CD;
    position: absolute;
}
.container.-todo > .list > .item > .content {
    flex-grow: 1;    
    font-size: 32px;
    line-height: 48px;
}

.container.-todo > .list > .item.-done > .content {
    text-decoration: line-through;
    color: #C2C2C2;
}
.container.-todo > .list > .item > .icon {
    cursor: pointer;
}


.action {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 38px;
    margin-top: 78px;
}
.action > .button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 20px 10px;
    background-color: transparent;
    font-size: 24px;
    line-height: 36px;
    color: #D98326;
}